{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <br>
    <div class="profile">
        <div class="profile-user">
            <h1> Hello, &nbsp;</h1>
            {% if user['images']|length != 0 %}
                <img src="{{ user['images'][0]['url']}}">
            {% endif %}
            <h1> {{user['display_name']}} </h1>

        </div>
        <h1> You have {{user['followers']['total']}} followers</h1>
        <a href="{{ user['external_urls']['spotify'] }}"> Your Spotify Link</a>
    </div>

    <div class="current-track">
        {% if current_track==None or not current_track['is_playing'] %}
            <h1> You are not listening to anything at the moment.</h1>
        {% else %}
            <h1> You are listening to</h1>
            <img src="{{ current_track['item']['album']['images'][0]['url']}}">
            <div class="track-info">
                <h1>{{current_track['item']['name']}}</h1>
                <h1> by {{current_track_artists}} </h1>
            </div>
        {% endif %}
    </div>
    
    <div class="recently-played">
        <h1>Recently Played</h1>
        {% for track in user_tracks %}
            <div class="track">
                <img src="{{track[3]}}">
                <a href="{{track[1]}}">{{track[0]}}</a>
                <h1> &nbsp; {{track[2]}}</h1>
            </div>
        {% endfor %}
    </div>

    <div class="playlists">
        <h1>Your Playlists</h1>
        {% for playlist in user_playlists %}
            <div class="playlist">
                <img src="{{playlist[2]}}">
                <a href="{{playlist[1]}}">{{playlist[0]}}</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}
